.page-wrapper {
    width: 100%;
    overflow: hidden;
}
.menu {
    width: 30%;
    float:left;
    background-color: rgb(105, 189, 218);
    height: 100vh;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
}
.dataDisplay {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    height: 100vh;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
}

button {
    display: block;
    background-color: rgb(105, 189, 218);
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(122, 206, 235);
}