<div *ngIf="showMe" id="scrolltable">
    <table>
        <tr>
            <th>Predmet</th>
            <th>Semestar</th>
            <th>Godina</th>
            <th>ESPB</th>
            <th>Ocena</th>
        </tr>
        <tr *ngFor="let enrollment of completedEnrollments">
            <td>{{ enrollment.course.name }}</td>
            <td>{{ enrollment.course.semester }}</td>
            <td>{{ enrollment.course.year }}</td>
            <td>{{ enrollment.course.espb }}</td>
            <td>{{ enrollment.grade }}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>Prosek:</td>
            <td>{{ averageGrade | number : '1.2-2' }}</td>
        </tr>
    </table>
</div>
